.main-container {
    padding-top: 0px;
}

.bannerIntro {
    width: 100%;
    background-color: #f3f3f3;
}
.bannerIntro .jumbotron {
    padding: 50px 60px;
    margin: 0px;
    text-align: center;
    background-color: #f3f3f3;
}
.theGridH{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
    background-color: grey;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
    position: sticky;
    gap: 10px;
}
.theGridH > div {background-color: white; border: solid 5px #414949; padding: 0px;}

.theGridH2 {
    overflow: scroll;
}

.theGridH3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.headingS {
    text-align: center;
    padding: 40px;
    word-wrap: break-word;
}
.paragraphS {
    text-align: justify;
    font-size: 20px;
    word-wrap: break-word;
    padding: 10px;
}
.paragraphV {
    text-align: justify;
    font-size: 17px;
    word-wrap: break-word;
    padding: 10px;
}
.map {
    padding: 0px;
}

.theGridA {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: grey;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
    position: sticky;
    gap: 10px;
}
.theGridA > div {background-color: white; border: solid 5px #414949; padding: 0px;}

.theGridV2 {
    padding: 100px;
}


